.scroll{
  height: calc(100vh - 56px);  
  overflow-x: hidden;
  overflow-y: auto;
}
.spoiler {
	filter: blur(5px);
	transition-property: filter;
	transition-duration: .4s;
}
.spoiler:hover, .spoiler:focus {
	filter: blur(0px);
}
.bg-jumbotron{background-color: rgba(23, 162, 184, 0.075); }
pre.prettyprint{
    border:none !important;
    padding: 2em !important;
    
}
.linenums li {
  list-style-type: decimal;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
}

li li {
    margin: 0;
}

li li:before {
    content: counters(item, ".") " ";
}

    
/*svg.railroad-diagram {
  background-color: hsl(30,20%,95%);
}*/
svg.railroad-diagram path {
  stroke-width: 1;
  stroke: black;
  fill: rgba(0,0,0,0);
}
svg.railroad-diagram text {
  font: bold 14px monospace;
  text-anchor: middle;
  white-space: pre;
}
svg.railroad-diagram text.diagram-text {
  font-size: 12px;
}
svg.railroad-diagram text.diagram-arrow {
  font-size: 16px;
}
svg.railroad-diagram text.label {
  text-anchor: start;
}
svg.railroad-diagram text.comment {
  font: italic 12px monospace;
}

svg.railroad-diagram rect {
  stroke-width: 1;
  stroke: black;
  fill: rgba(23, 162, 184, 0.075);
}
svg.railroad-diagram path.diagram-text {
  stroke-width: 1;
  stroke: black;
  fill: white;
  cursor: help;
}
svg.railroad-diagram g.diagram-text:hover path.diagram-text {
  fill: #eee;
}