.scroll{
    height: calc(100vh - 56px);  
  overflow-x: hidden;
  overflow-y: auto;
}
.bg-jumbotron{background-color: rgba(23, 162, 184, 0.075); }
pre.prettyprint{
    border:none !important;
    padding: 2em !important;
    
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
}

li li {
    margin: 0;
}

li li:before {
    content: counters(item, ".") " ";
}